<div class = container-fluid>
	<button class="btn btn-light float-left" (click)="backTot5()">
		Back
		</button>
	<div class = row>
		<div class="blocks1 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-danger">
		<div class = row>
		<div class="blocks2 col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 bg-warning offset-1 offset-sm-1 offset-md-1 offset-lg-1 offset-xl-1"></div>
		<div class="blocks2 col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 bg-success"></div>
		</div>
		</div>
		<div class="blocks3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bg-primary">
		<div class = row>
			<div class="blocks4 col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 bg-dark offset-10 offset-sm-10 offset-md-10 offset-lg-10 offset-xl-10"></div>
		</div>
		</div>
	</div>
</div>
