

<div class="container" style="width: 850pt; margin: auto">
  <div class="row" style="width: 50pt; margin-left: 0.1px">
    <a href="/" class="btn btn-light float-left">
      Back
    </a>
  </div>
  <div class="container" style="display: flex">
    <div class="col-6" style="width: 10%">
      <h3 style="width: 100pt">Task 1a</h3>
    </div>
    <div style="margin-left: 85%;">
      <button id="reset" class="btn btn-light">reset</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="shape-container">
        <div class="p2-circle bg-purple"></div>
        <div class="p2-circle bg-purple"></div>
        <div class="p2-circle bg-purple"></div>
        <div class="p2-circle bg-purple"></div>
        <div class="p2-circle bg-purple"></div>
        <div class="p2-circle bg-green"></div>
        <div class="p2-circle bg-green"></div>
        <div class="p2-circle bg-green"></div>
        <div class="p2-circle bg-green"></div>
        <div class="p2-circle bg-green"></div>
        <div class="p2-circle bg-yellow p2-border"></div>
        <div class="p2-circle bg-yellow p2-border"></div>
        <div class="p2-circle bg-yellow"></div>
        <div class="p2-circle bg-yellow"></div>
        <div class="p2-circle bg-yellow"></div>
        <div class="p2-circle bg-orange p2-border"></div>
        <div class="p2-circle bg-orange p2-border"></div>
        <div class="p2-circle bg-orange"></div>
        <div class="p2-circle bg-orange"></div>
        <div class="p2-circle bg-orange"></div>
        <div class="p2-circle bg-blue"></div>
        <div class="p2-circle bg-blue"></div>
        <div class="p2-circle bg-blue p2-border"></div>
        <div class="p2-circle bg-blue p2-border"></div>
        <div class="p2-circle bg-blue"></div>
        <div class="p2-circle" id="gradient-circle"></div>
      </div>
    </div>
  </div>

</div>

