
<div class="container" style="width: 850pt; margin: auto">
  <div class="row" style="width: 50pt; margin-left: 0.1px">
    <a href="/" class="btn btn-light float-left">
      Back
    </a>
  </div>
  <div class="container" style="display: flex">
    <div class="col-6" style="width: 10%">
      <h3 style="width: 100pt">Task 2</h3>
    </div>
    <div style="margin-left: 85%;">
      <button id="reset" (click)="stop()" class="btn btn-light">stop</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="shape-container" #div>
<!--        <div class="p2-circle bg-purple"></div>-->
<!--        <div class="p2-circle bg-green"></div>-->
      </div>
    </div>
  </div>

</div>
